---
---

@import "../_sass/reset";
@import "../_sass/main";

.default_title {
	background: #808080;
}
.post_title {
	background: #00007f;
}

* {
    font-family: "Microsoft YaHei", "宋体", "SimSun", "Tahoma", sans-serif !important;
}

pre, code {
    font-family: "Courier New", "Fixedsys", monospace !important;
}